<!DOCTYPE html>
<html>
  <head>
    <title>Sokka's Food Journal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Browse", drinks_path%>
    <%= link_to "Add New Entry", new_drink_path%>
    <%= yield %>
  </body>
</html>
